*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* display */

#display{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: lightgray;
    padding: 20px;
    padding-top: 50px;
}

/* heading */

#heading{
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 30px;
}

/* input */

#input-area{
    box-sizing: border-box;
    width: 100%;
    height: 76.6px;
    font-size: 2.7rem;
    padding: 7px;
    padding-top: 20px;
    text-align: right;
    border: none;
    border-radius: 2px;
    background-color: #e0f2ff;
    color: blueviolet;
    margin: 10px 0px;
}

#input-area:focus{
    border: none;
    outline: none;
}

/* buttons */

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btn-0{
    width: 50%;
}

button{
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    width: 25%;
    font-size: 1.5rem;
    padding: 10px 0px;
    border: none;
    border-radius: 2px;
    border: 2px solid lightgray;
    color: black;
    background-color: white;
}

.red{
    background-color: rgb(211, 108, 48);
    color: white;   
}

button:hover{
    background-color: rgb(51, 236, 122);
    color: black;
}